@import url("modern-normalize.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  line-height: 1.5;
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  overflow: hidden;
}

img {
  display: block;
  max-inline-size: 100%;
  max-width: 100%;
}

input,
textarea {
  field-sizing: content;
  min-width: 5rem;
}

button:focus-visible {
  outline: 5px solid var(--var-blue);
  outline-offset: 3px;
}

/* end template */

:root {
  --var-dark: #000;
  --var-light: #ffff;
  --var-medlight: #333333;
  --var-lightmed: #a3a3a3;
  --var-med: #535353;
  --var-rnbw1: #953f41;
  --var-rnbw2: #db6728;
  --var-rnbw3: #fac745;
  --var-rnbw4: #406b32;
  --var-rnbw5: #3d7d83;
  --var-rnbw6: #8e5078;
  --var-pink: #d3889f;
  --var-blue: #67aabc;
  --var-brown: #5a3b1d;
  /* font-family: "Poppins", sans-serif; */
}

button {
  font-size: 0.7rem;
  color: var(--var-light);
  background-color: var(--var-lightmed);
  border-radius: 5px;
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 1rem 2.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

button:hover {
  /* border: var(--var-dark) 2px solid; */
  filter: brightness(125%);
}

#nav-header {
  display: flex;
  background-color: var(--var-medlight);
  /* position: sticky; */
  top: 0;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 1% 1.5%;
}

#header {
  background-color: var(--var-medlight);
}

#headerLogoH {
  width: min(300px, 20vw);
}

#navbar {
  gap: 1vw;
  font-size: 0.8rem;
  align-items: center;
  width: fit-content;
  /* color: var(--var-light); */
  padding-top: 0.5rem;
}

#navbar a:hover {
  filter: brightness(150%);
}

#navbar a:visited {
  color: inherit;
}

a[href="about"]:link,
a[href="about"]:visited {
  color: var(--var-rnbw1) !important;
}

#aboutPage h2,
#aboutPage h3,
#aboutPage h4,
#aboutPage h5,
#aboutPage h6 {
  color: var(--var-rnbw1);
}

a[href="webelieve"],
a[href="webelieve"]:visited {
  color: var(--var-rnbw2) !important;
}

#weBelievePage h2,
#weBelievePage h3,
#weBelievePage h4,
#weBelievePage h5,
#weBelievePage h6 {
  color: var(--var-rnbw2);
}

a[href="events"],
a[href="events"]:visited {
  color: var(--var-rnbw3) !important;
}

#eventsPage h2,
#eventsPage h3,
#eventsPage h4,
#eventsPage h5,
#eventsPage h6 {
  color: var(--var-rnbw3);
}

a[href="give"],
a[href="give"]:visited {
  color: var(--var-rnbw4) !important;
}

#givePage h2,
#givePage h3,
#givePage h4,
#givePage h5,
#givePage h6 {
  color: var(--var-rnbw4);
}

a[href="contact"],
a[href="contact"]:visited {
  color: var(--var-rnbw5) !important;
}

#contactPage h2,
#contactPage h3,
#contactPage h4,
#contactPage h5,
#contactPage h6 {
  color: var(--var-rnbw5);
}

a[href="jobs"],
a[href="jobs"]:visited {
  color: var(--var-rnbw6) !important;
}

#jobsPage h2,
#jobsPage h3,
#jobsPage h4,
#jobsPage h5,
#jobsPage h6 {
  color: var(--var-rnbw6);
}

#signup {
  justify-self: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  margin: 0 auto;
  max-width: 95vw;
}

#signup > * {
  /* overflow-x: hidden; */
  overflow-y: hidden;
}

#mc_embed_shell {
  margin: 0 auto;
}

#signup > button {
  background: white;
  color: black;
}

#footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  padding: 0.3rem 1rem;
  /* font-size: 0.85rem; */
  /* border-top: 1px solid var(--var-medlight); */
  /* position: sticky; */
  bottom: 0;
  width: 100vw;
  z-index: 9;
  background-color: var(--var-lightmed);
}

#footer a {
  color: inherit;
}

#footer a:visited {
  color: inherit;
}

#footer img {
  max-width: 1.5rem;
}
